/*通用样式*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:#999;
}

a:hover{
  text-decoration: none;
}
li{
  list-style:none;
}
body,div,p,h1,h2,h3,h4,h5{
  margin: 0px;
  padding: 0px;
}
.lf{float: left;}
.rt{float: right;}

.clear:after{
  content:"";
  display:block;
  clear:both;
}